@charset "utf-8";
/* Main CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
html, body {
	height: 100%;
	background: #A9A9A9;
	font-size: 18px;
}
h1 {
	color: #FAFAD2;
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 20px;
}
li {
	margin-bottom: 5px;
}
a:hover { text-decoration: underline;
}
nav ul {
	list-style-type: none;
	text-align: center;
	font-size: 22px;
}
nav a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}
nav .current {
	background-color: #D3D3D3;
}
header, hgroup, nav, section, article, aside, footer {
	display: block;
	padding: 10px;
}
section {
	min-height: 84%;
	margin-bottom: -20px;
}
article h1 {
	color: #FAFAD2;
	font-size: 1.6em;
	text-align: left;
}
article footer p {
	font-size: 14px;
	text-align: left;
	margin-top: 5px;
}
article footer p a {
	color: #000;
	text-decoration: none;
}
footer {
	height: 20px;
	text-align: center;
}
