body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}
	ul li a {
		color: inherit;
	}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: black;
}

ul ul {
	display: none;
	padding-left: 8px;
}
    ul ul a {
		color: #a7a0a7;
	}

ul li:hover > ul {
	display: block;
}