section{
	border:2px groove rgb(128,128,128);
	border-radius:5px;
	width:750px;
	font-size:18px;
	}
a{
	font-weight:bold;
	color:deepskyblue;
	}
div{
	border:2px groove rgb(128,128,128);
	width:500px;
	padding:5px;
	margin:10px;
	font-size:17px;
	line-height:30px;
	}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
	
	}
li{
	display:inline-block;
	}
hr{
	width:95%;
	}
fieldset{
	width:230px;
	padding:5px;
	border:2px groove rgb(128,128,128);
	}
img{
	float:left;
	height:80px;
	width:130px;
	}
span{
	padding-left:53px;
	}	
p{ 
	padding:0;
	margin:0;
	margin-top:20px;
	}

header{
	text-align:center;
	
	}
form{
	position:absolute;
	left:560px;
	top:180px;
	
	}

form ul li{
	display:block;
	line-height:30px;
	}
