table {
    background-color: #808080;
}
thead {
    color: #bbb7b7;
    font-size: 20px;
}
td {
    padding: 5px;
}
.firstCol {
    font-style: italic;
    color: #d4d0d0;
}
.secondCol {
    width: 300px;
    color: #fff;
}
span.circle {
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background-color: #63a4a7;
}
td#nas {
    color: red;
}   
td#greyText {
    color: #bbb7b7;
}
td#na {
    color: orange;
}