img {
    width: 45px;
    height: 42px;
    vertical-align: middle;
    padding: 5px;
}
table {
    width: 850px;
    height: 250px;
    border-collapse: collapse;
    border-style: none;
    border-color: #CCC;  

}
table th
{
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #1d381b;
    line-height: 38px;
    padding: 5px;
    background-color: #35cb18;
    text-align: left;
    font-weight: normal;
    color: white;
    padding: 5px;
    line-height: 25px;
}
table td {
    border-right: 2px solid #CCC; 
    line-height: 40px;
    padding: 5px;  
}
table tr:nth-child(even) {
    background-color: #ececd8;
}
.firstCol {
    width: 30%;
}
.secondCol
{
    width: 25%;    
}
.thirdCol
{
    width: 30%;    
}
