body {
    background-color: #b1b1b1
}
h1 {
    color: #fbf2f2;
    font-size: 40px;
    text-align: center;
}
nav {
    text-align: center;
}
ul{
	list-style:none;
	font-size:19px;
	font-weight:bold;
}
ul a {
    color: white;
}
li:last-child{
	text-decoration:underline;
}
.current{
	background-color: #e1d9d9;
}
section footer{
	text-align:left;
}
article h1{
	font-size:24px;
	text-align:left;
}
footer a{
	color: black;
}
footer p{
	font-size:13px;
}
a {
    text-decoration: none;
}